html {
    font-family: 'Khula', sans-serif;
    background: rgb(111,211,228);
    background-image: linear-gradient(180deg, rgba(111,211,228,1) 0%, rgba(0,136,255,1) 100%);
    min-height: 100vh;
}
h1 {
    color: rgba(242, 242, 242, 0.9);
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
h2 {
    font-weight: 300;
    color: rgba(242, 242, 242, 0.9);
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}